@font-face {
    font-family: "Cabin";
    src: local("Cabin"), url("./Font/static/Cabin-Regular.ttf");
}

.display_flex {
    display: flex;
    justify-content: space-around;
}

.link-decoration {
    text-decoration: none;
}
.card {
    max-width: 400px;
    border: 1px dotted yellowgreen;
    text-align: center;
    padding: 20px;
    color: #131112;
    background-color: #eae8ff;
    border:2px solid #4f359b;
    border-radius: 7px;
    margin: 0 auto;
    font-family: Cabin, Verdana, Geneva, Tahoma, sans-serif;
}
.avatar {
    width: 150px;
    border-radius: 7px;
    border: 1px solid #f4d35e;
}

.card:hover {
    color: #f4d35e;
    border: 2px solid #f4d35e;
    background-color: #4f359b;
}

